themes {
  duskfox {
      bg "#433c59"
      fg "#e0def4"
      red "#eb6f92"
      green "#a3be8c"
      blue "#569fba"
      yellow "#f6c177"
      magenta "#c4a7e7"
      orange "#ea9a97"
      cyan "#9ccfd8"
      black "#232136"
      white "#cdcbe0"
  }
}
